<form (ngSubmit)="addUser()" class="was-validated was-validated" >
    <h1>Welcome to Jammy</h1>
    <div class="mb-3">
      <label for="fullname" class="form-label">Full Name</label>
      <input type="text" class="form-control" placeholder="John Doe" [(ngModel)]="user.fullName" name="fullName" required="" [maxLength]="12"minlength="3" >
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="Enter your email here" [(ngModel)]="user.email" name="email" required="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="Enter your password" [(ngModel)]="user.password" name="password" required="" minlength="6" maxlength="14">
    </div>
    
    <div class="button-sec">
      <button type="submit" class="btn btn-green">Create Account</button>
      <p>Already have an account? <span>Log in</span></p>
    </div>
    <div class="or-class">
      <h1>OR</h1>
      <div class="signup">
        <div class="signup-child">
          <img src="../assets/Google.png" alt="google">
          <p>Sign up with Google</p>
        </div>
        <div class="signup-child">
          <img src="../assets/GitHub.png" alt="github">
          <p>Sign up with Github</p>
        </div>
      </div>
    </div>
  </form>
